services:
  mongo:
    image: mongo:latest
    container_name: alouter-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db
    networks:
      - alouter-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: alouter-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    networks:
      - alouter-network

  website:
    build:
      context: ./website
      dockerfile: dockerfile
    container_name: alouter-website
    ports:
      - "8080:8080"
    env_file:
      - ./website/.env
    environment:
      - MONGO_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - RABBITMQ_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASS=${RABBITMQ_DEFAULT_PASS}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
    volumes:
      - ./nfs:/app/assets/router_logs
    networks:
      - alouter-network
    depends_on:
      - mongo
      - rabbitmq

  scheduler:
    build:
      context: ./scheduler
      dockerfile: dockerfile
    container_name: alouter-scheduler
    env_file:
      - ./scheduler/.env
    environment:
      - MONGO_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - RABBITMQ_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASS=${RABBITMQ_DEFAULT_PASS}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
    networks:
      - alouter-network
    depends_on:
      - rabbitmq
      - mongo

  worker:
    build:
      context: ./worker
      dockerfile: dockerfile
    container_name: alouter-worker
    env_file:
      - ./worker/.env
    environment:
      - MONGO_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - RABBITMQ_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASS=${RABBITMQ_DEFAULT_PASS}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
    volumes:
      - ./nfs:/worker/router_logs
    networks:
      - alouter-network
    depends_on:
      - rabbitmq
      - scheduler
      - mongo

volumes:
  mongo-data:

networks:
  alouter-network: