- name: Copy Running Config from Router
  hosts: router
  connection: network_cli
  gather_facts: false
  vars:
    ansible_host: "{{ router_ip }}"
    ansible_user: "{{ router_user }}"
    ansible_password: "{{ router_pass }}"
    file_name: "{{ file_name }}"

  tasks:
    - name: Get Router Log
      cisco.ios.ios_command:
        commands:
          - show logging | begin Log Buffer
      register: log

    - name: Save Log to File
      copy:
        content: "{{ log.stdout[0] }}"
        dest: "../../router_logs/{{ file_name }}"
      delegate_to: localhost
    
    - name: Clear Router Log
      ansible.netcommon.cli_command:
        command: clear logging
        prompt: '\[confirm\]'
        answer: ''
    
    - name: Display router hostname
      ansible.builtin.debug:
        msg: "{{ file_name }}"