apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler
  labels:
    app: scheduler
  namespace: alouter-app
spec:
  selector:
    matchLabels:
      app: scheduler
  template:
    metadata:
      labels:
        app: scheduler
    spec:
      containers:
      - name: alouter-scheduler
        image: aunanawat/alouter-scheduler
        envFrom:
          - secretRef:
              name: mongodb-credential
          - secretRef:
              name: rabbitmq-credential
      restartPolicy: Always