apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
    - ReadOnlyMany
  nfs:
    path: /srv/nfs/general
    server: 10.2.17.11
  persistentVolumeReclaimPolicy: Retain